<!doctype html>
<html ng-app="ngWhisk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Johan Rodin || IBM Bluemix Technical Sales Team"/>
    <meta name="description" content="Process forms without the need of backend, this is with using OpenWhisk and Angular.js only."/>
    <meta name="keywords" content="Bluemix, OpenWhisk, Angular.js, forms validation, form processing, open workshop.">

    <link rel="shortcut icon" href="./img/favicon.png"/>
    <title>Bluemix Workshop Form</title>
    <link rel="icon" type="image/png" href="./icons/bluemix_logo.svg">

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="//use.fontawesome.com/74dfc6cf47.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/emojione-awesome.css"/>
    <link rel="stylesheet" href="./css/main.css">

    <!-- ngDialog’s basic and theme CSS files -->
    <link rel="stylesheet" href="./css/ngDialogCSS/ngDialog.css">
    <link rel="stylesheet" href="./css/ngDialogCSS/ngDialog-theme-default.css">
    <link rel="stylesheet" href="./css/ngDialogCSS/ngDialog-theme-plain.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body class="home overflow-hidden" background="connections.jpeg">

    <!-- Top header blue line -->
    <div class="header-panel shadow-z-2">
        <div class="header-container">
            <div class="header-row">
                <div class="header01 header-logo">
                    <div class="row-picture">
                        <a href="#"><img id="about" src="./icons/bmx_logo.svg"></a>
                    </div>
                    <div class="row-details">
                        <p class="list-group-item-text">IBM Bluemix | Open Workshops</p>
                    </div>
                </div>
                <div class="header02">
                    <div class="social-icons">
                        <a class="icon" target="_blank" href="https://www.ibm.com/blogs/bluemix/2017/" ><i class="fa fa-file-text"></i></a>
                        <a class="icon" target="_blank" href="https://github.com/JohanRodin/OpenWhiskContact" ><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Loading the view -->
    <div class="page-container" style="background: #1fbda6 url(lead-21.jpeg) center center / cover no-repeat; min-height: 320px;">
        <div align="left">
        <h2><font color="white">Develop your first Bluemix App           { May 30th and June 27th }</font></h2>
            IBM Client Center , Kista Alléväg 60, Kista<br>
            Free hands-on workshop <br>
            <ul>
                <li>Learn the fundamentals of building and deploying your application in the Cloud with IBM Bluemix.<br></li>
                <li>See how to leverage the full capabilities of the Bluemix catalog and utilize the micro-services availible.<br></li>
                <li>Ask any questions you have about cloud application development.  <br></li>
            </ul>    
        <p align="left"><font color="white">  
            
          <p>  
            Open Workshop Agenda<br>
            
            <br>
         08:45-09:00 Registration and coffee is served <br>
         09:00-09:15 Presentation of Bluemix and walkthrough of the three labs <br>
         09:15-10:00 Lab 1: Gather Internet of Things sensor data in Bluemix using Node-RED <br>
         10:00-10:10 Break <br>
         10:10-11:00 Lab 2: Create a To-Do-List App wit database connection in Node.js <br>
         11:00-12:00 Lab 3: Add a Watson service to an App <br>
 
            </p>
   
            
        </font></p>
        
            <br><br><br>
        

        <button type="button" ng-dialog="firstDialogId" ng-dialog-controller="InsideCtrl" ng-dialog-data="{{jsonData}}"
                ng-dialog-class="ngdialog-theme-default" ng-dialog-show-close="false">Register Now
        </button><br><br><br><br><br><br>
      </div>
    </div>


    <div class="rowFooter">
        <footer>
            <img src="skyline.png"/>
            Made by <a href="https://twitter.com/JohanNRodin" target="_blank">{ @johannrodin }</a>
        </footer>
    </div>


    <!-- ng-Dialog Popup -->
    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <h3>Registration Form</h3>
            <p ng-show="theme">Register for the next open lab day in Kista</p>
        </div>
        <div class="RequestForm" ng-controller="requestController">
            <form name="myForm" ng-submit="sendMail()">
                <div class="inputFormPopup">
                    <div ng-messages="myForm.myName.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                    <input type="text" name="myName" ng-model="myName" placeholder="Name *" required/><br>

                    <div ng-messages="myForm.myEmail.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="email">Your email address is invalid</div>
                    </div>
                    <input type="email" name="myEmail" ng-model="myEmail" placeholder="Email *" required/><br>

                    <div ng-messages="myForm.myUrl.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                    <input type="text" name="myUrl" ng-model="myUrl" placeholder="Your company/organization *" required/><br>

                    <textarea type="text" name="myDescription" ng-model="myDescription" placeholder="Put any comments to the organizer here, please!"
                              class="myDescription"></textarea>
                </div>

                <div class="form-group-popup">
                    <div class="ngdialog-buttons">
                        <button type="button" class="ngdialog-button ngdialog-button-cancel"
                                ng-click="closeThisDialog()">Close
                        </button>
                        <button type="submit" class="ngdialog-button ngdialog-button-primary"
                                ng-disabled="myForm.$invalid">Submit
                        </button>

                    </div>
                    <div class="messageContact" ng-show="emailSent">
                        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
                             close="closeAlert($index)" class="alert">{{alert.msg}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
</body>

<!-- Vendor libraries: jQuery only used for Bootstrap functionality -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>

<!-- Loading Angular scripts-->
<script src="app/scripts/ngMessages.js"></script>
<script src="app/scripts/ngDialog.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

<script src="app/app.js"></script> <!-- Loading controllers -->
<script src="app/controllers/requestController.js"></script> <!-- Loading controllers -->

<script src="external_scripts/google-analytics.js"></script> <!-- Google analytics tracking code -->
</html>
